<div class="news-detail-page" *ngIf="newsData">
  <div class="container">
    <div class="back-button">
      <button class="back-btn" (click)="goBack()">
        <i class="pi pi-arrow-right"></i>
        العودة للأخبار
      </button>
    </div>
    
    <article class="news-article">
      <header class="article-header">
        <div class="article-meta">
          <span class="article-category">{{ newsData.category }}</span>
          <span class="article-date">
            <i class="pi pi-calendar"></i>
            {{ formatDate(newsData.date) }}
          </span>
          <span class="article-read-time">
            <i class="pi pi-clock"></i>
            {{ newsData.readTime }}
          </span>
        </div>
        
        <h1 class="article-title">{{ newsData.title }}</h1>
        <p class="article-summary">{{ newsData.summary }}</p>
        
        <div class="article-author">
          <span class="author-label">بقلم:</span>
          <span class="author-name">{{ newsData.author }}</span>
        </div>
      </header>
      
      <div class="article-image">
        <img [src]="newsData.image" [alt]="newsData.title" />
      </div>
      
      <div class="article-content">
        <div class="content-paragraphs">
          <p *ngFor="let paragraph of newsData.content">{{ paragraph }}</p>
        </div>
        
        
      </div>
    </article>
    
   
  </div>
</div>





