<div class="departments-section" *ngIf="departments?.length"
>
  <!-- Section Title -->
  <div class="section-title" >
    <h2>{{ sectionTitle }}</h2>
  </div>

  <!-- Departments Grid -->
  <div class="departments-grid" *ngIf="departments?.length">
    <div class="department-card" *ngFor="let department of departments; trackBy: trackByFn" (click)="onDepartmentClick(department)">
      <div class="card-icon">
        <img
          [src]="department.iconPath"
          [alt]="department.iconAlt"
          class="icon-image"
        >
      </div>
      <div class="card-content">
        <h4 class="card-title">{{ department.title }}</h4>
        <p class="card-description">{{ department.description }}</p>
      </div>
    </div>
  </div>

    <!-- All Services Button -->
  <div class="all-services-section" *ngIf="showAllServicesButton">
    <a
      class="all-services-btn"
     [routerLink]="allServicesUrl"
    >
      {{ allServicesText }}
    </a>
  </div>
</div>
